PORT=4000
NODE_ENV=development

JWT_SECRET=medichain-hms-jwt-secret-change-in-production
JWT_EXPIRES_IN=8h
JWT_REFRESH_EXPIRES_IN=7d

MONGODB_URI=mongodb://127.0.0.1:27017/medichain_hms

REDIS_URL=redis://127.0.0.1:6379
REDIS_ENABLED=false

FABRIC_NETWORK_PATH=../fabric-samples/test-network
FABRIC_DISCOVERY=true

AI_SERVICE_URL=http://localhost:5000
AI_MOCK=true

UPLOAD_DIR=./uploads
MAX_UPLOAD_MB=10

CORS_ORIGIN=http://localhost:5173
